$black: #000000;
$white: #ffffff;
$red-1: #f5222d;
$green-1: #122726;
$green-2: #1d3a38;
$green-3: #1d5755;
$green-4: #abded7;

$blue-1: #a3abec;

$gray-1: #a4a4a4;
$gray-2: #dedede;

$yellow: #ffff00;
